{% extends 'base.html.twig' %}

{% block title %}Study Song!
{% endblock %}

{% block body %}

	<h1>{{ studyStatus.song.title }}</h1>
	Player here
	<input type="hidden" id="fileLink" value="{{ fileLink }}">

	<div id="playerDiv">
		{% include "/includes/player/controls.html.twig" %}
	</div>
	{% set tonalities = ['C','Db','D','Eb','E','F','Gb','G','Ab','A','Bb','B'] %}
	{% set tempoTonality = studyStatus.tempoTonality %}
	{% for tonality in tonalities %}
		<ul class="list-group">
			{% if (tempoTonality[tonality] is defined )%}
				<li class="list-group-item">
					{{ tonality }}
					<input type="number" id='{{ tonality }}' value='{{ tempoTonality[tonality]}}'>
				</li>
			{% endif %}
		</ul>
	{% endfor %}

	{{ asset('audiosUpload') }}

{% endblock %}

{% block javascripts %}
	{{ parent () }}
	{{ encore_entry_script_tags('player') }}
{% endblock %}
